@use "utils.scss" as *;

main {
    min-height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(6, calc(100%/6));
    position: relative;
    z-index: 1;
}

section {
    grid-template-columns: inherit;

    &#hero {
        min-height: 100vh;
        display: grid;
        grid-template-rows: 70vh 1fr;
        grid-template-columns: inherit;

        .image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            grid-column: 1/-1;
        }

        .text-wrapper {
            grid-column: 2 / -2;
            height: 100%;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;

            .title {
                display: inline-flex;
                flex-direction: column;
                font-size: 12px;

                span {
                    font-size: 20px;
                    font-weight: 900;
                }
            }

            .cta {
                display: block;
                color: $clr-secondary;
                margin-top: 24px;
                text-decoration: underline;
            }
        }
    }
}