@use "utils.scss" as *;

.brand {
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    gap: 16px;
    background-color: $clr-text;
    color: $clr-primary;
    padding: 24px;

    @include desktop {
        padding: 48px;
    }

    &-label {
        text-transform: uppercase;
        font-family: var(--font-unbounded), sans-serif;
    }
}
